# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
bin/
include/
lib/

# folders
.idea/
.pytest_cache/

# reporting
report/
/report.xml

# logs
*.log

# secure
secure.json

# env
/venv/
/tests/report.xml
